<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <div class="icons">
            <a target='_blank' href='https://www.youtube.com'><img src='../../images/youtube2.jpg'></a>
            <a target='_blank' href='https://www.hulu.com'><img src='../../images/hulu.jpg'></a>
            <a target='_blank' href='https://www.linkedin.com'><img src='../../images/linkedin2.jpg'></a>
            <a target='_blank' href='https://www.medium.com'><img src='../../images/medium2.jpg'></a>
            <a target='_blank' href='https://www.github.com'><img src='../../images/github2.jpg'></a>
            <a target='_blank' href='https://drive.google.com/drive/u/2/my-drive?hl=en'><img src='../../images/googledrive.jpg'></a>
            <a target='_blank' href='https://www.codewars.com'><img src='../../images/codewars.jpg'></a>
            <a target='_blank' href='https://learn.co/tracks/fswd-prework-2-01'><img src='../../images/learn.jpg'></a>
            <a target='_blank' href='localhost:3000'><img src='../../images/ruby.jpg'></a>

    </div>
<!--
    <div class="sidebar">
      <h3>Today</h3>
      <p><%= @time.strftime("%A, %B %e @ %l:%M") %></p>
      <ul>
        <li>Current News:</li>
        <li> </li>
        <li> </li>
      </ul>
    </div>

  </div>
</div>
